/* base type */
body {
  background: #efefef;
  font-family: 'Lato', sans-serif;
  transition: font-size 0.5s ease-in;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 0.4046em;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em;
}
h3 {
  font-size: 1.375em;
  line-height: 1.13636364em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.125em;
}
p {
  font-size: 1em;
  line-height: 1.25em;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}
 /*end base type */

em {
  font-style: normal;
  padding: 0 3px 2px 3px;
}