/*grid*/
.grid-1-2 {
	width: calc(50% - 40px);
}
.grid-2-5 {
	width: calc(40% - 25px);
}
.grid-3-5 {
	width: calc(60% - 25px);
}
.grid-full {
	width: calc(100% - 20px);
}
.grid-1-2, .grid-3-5, .grid-2-5, .grid-full {
	float: left;
	overflow: hidden;
	padding: 0 10px 0 10px;
}
div.grid-1-2, div.grid-3-5, div.grid-2-5, div.grid-full {
	padding: 10px;
}
div.grid-1-2{
	padding: 20px;
}
/*end grid*/