@import url(http://weloveiconfonts.com/api/?family=entypo); 
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
 /*transitions*/
div.main-content {transition: top .25s ease-in, left .25s ease-in}
label[for*="image-"] {transition: top .25s ease-in, right .25s ease-in}
 /*end transitions*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


div.main-wrapper, div.main-wrapper section {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
}

/*start main window*/
div.content-wrapper {
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 960px;
}
div.main-content {
	position: absolute;
	left: 0;
	top: 0;
  z-index: 199;
	opacity: 1;
	border-radius: 0px 0px 20px 20px;
	width: 100%;
	font-weight: 100;
}
div.relative {
	position: relative;
	height: 100%;
}
/*end main window*/

.info-header {
  margin-top: 0;
  padding: 10px;
}
span[class*="entypo-"]:not(:first-of-type):first-line{
  margin-left: 10px;
}
span[class*="entypo-"]{
  margin-right: 5px;
  margin-left: 5px;
}
span[class*="entypo-"]:first-of-type{
  margin-left: 0px;
}

.bio-image {
  float: left;
	height: 100%;
  background: url('../img/profile.jpg');
  background-size: contain;
  background-position: calc(100% - 10px) 30px;
  background-repeat: no-repeat;
}

.tree-item-info {
  padding-left: 5px;
}
.tree-item-info {
	margin-bottom: 20px;
}
.tree-item-info h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 400;
}
.tree-item-info  p {
	margin-top: 0px;
	margin-bottom: 5px;
}

p.light {
	font-weight: 300;
  display: inline-block;
}
.hello-header {
  margin-bottom: 0px;
}

/*start hex*/
.hex-wrapper p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  height: 55px;
  line-height: 1em;
}

.hex-wrapper {
  float: right;
}

.hex-wrapper .hex-col {
  float: left;
  margin-top: 25px;
}
.hex-wrapper .hex-col-even {
  float: left;
  margin-left: -48px;
  margin-right: -48px;
  margin-top: 108px;
}

.hex-wrapper .hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  margin-bottom: 111px;
}
.hex-wrapper .hexagon:last-of-type {
  margin-bottom: 25px;
}
.hex-wrapper .hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.hex-wrapper .hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.down-1-row {
  padding-top: 166px;
}
.hex-group {
  float: left;
}
/*end hex*/

.full-background {
  width: 100%;
  height: 100%;
  position: fixed
}
input {
  display: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

